{% load i18n %}

<div>
  {% csrf_token %}
  <div class="two-col-container">
    <div class="col left-col">
      <div>
        <header>
          {% include "header.html" %}
        </header>
        <p class="description">{% trans 'Guess the song title used as Midjourney prompt...' %}</p>
        <nav>
          <div class="category-link label">{% trans  'Categories:' %}</div>
          <div class="category-link">
            <button unicorn:click="change_category(None)">{% trans  'All' %}</button>
          </div>
          {% for link_cat in categories %}
          <div class="category-link">
            <button unicorn:click="change_category({{link_cat.pk}})">{{link_cat.name}}</button>
          </div>
          {% endfor %}
        </nav>
        <p class="description">{% trans 'Score:' %} {{score}} / {{attempt_count}}</p>
        <p class="description">{% trans 'Difficulty:' %} {{guess.difficulty_label}}</p>
      </div>
      <div>
        {% if category %}
        <p class="category">{% trans "Category:" %} {{category}}</p>
        {% else %}
        <p class="category">{% trans 'All categories!' %}</p>
        {% endif %}

        <div class='form'>
          <input type="hidden" id="category_id" unicorn:model="category_id" value="{{category_id}}" />
          <input type="text" class='big-input' id="attempt" unicorn:model="attempt" placeholder="Guess the prompt..." />
          {% if display.allow_guess %}
          <button type="submit" class="big-button" unicorn:click="make_guess({{guess.pk}})">
            {% trans 'Guess' %}
          </button>
          {% endif %}
        </div>

        <div class='results-container'>
          {% if display.show_result %}
          <div class="results {% if display.success %}success{% else %}failure{% endif %}">
            {% if display.success %} {% trans 'Well done!' %} {% else %} {% trans 'Wrong answer...' %} {% endif %}
          </div>
          {% endif %}

          {% if display.allow_next %}
          <div>
            <button unicorn:click="next_guess" class='big-button'>{% trans 'Next' %}</button>
          </div>
          {% endif %}

          {% if display.allow_give_up %}
          <div>
            <button unicorn:click="give_up" class='big-button'>{% trans 'Give-up' %}</button>
          </div>
          {% endif %}

          {% if display.allow_skip %}
          <button unicorn:click="skip" class='big-button'>{% trans 'Skip' %}</button>
          {% endif %}
        </div>

      </div>
    </div>
    <div class="col">
      <div>
        <img src="{{guess.image.url}}" alt="Image" width="500" height="500" />
        {% if display.display_answer %}
        <div class="answer">
          <span class='title'>{{guess.prompt}}</span> ({{guess.artist}})
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>