<div>
  {{display}}

  {% csrf_token %}
  <div class="two-col-container">
    <div class="col left-col">
      <div>
        <header>
          {% include "header.html" %}
        </header>
        <p class="description">Guess the song title used as Midjourney prompt...</p>
        <nav>
          <div class="category-link label">Categories:</div>
          <div class="category-link">
            <button unicorn:click="change_category(None)">All</button>
          </div>
          {% for link_cat in categories %}
          <div class="category-link">
            <button unicorn:click="change_category({{link_cat.pk}})">{{link_cat.name}}</button>
          </div>
          {% endfor %}
        </nav>
        <p class="description">Score: {{score}} / {{attempt_count}}</p>
        <p class="description">Difficulty: {{guess.difficulty_label}}</p>
      </div>
      <div>
        {% if category %}
        <p class="category">Category: {{category}}</p>
        {% else %}
        <p class="category">Toutes catégories confondues !</p>
        {% endif %}
        <input type="hidden" id="category_id" unicorn:model="category_id" value="{{category_id}}" />
        <input type="text" id="attempt" unicorn:model="attempt" placeholder="Guess the prompt..." />
        <button type="submit" unicorn:click="make_guess({{guess.pk}})" {% if not display.allow_guess %} disabled
          {% endif %}>Guess</button>

        {% if display.show_result %}
        <div class="results {% if display.success %}success{% else %}failure{% endif %}">
          {% if display.success %} Correct! {% else %} Incorrect! {% endif %}
        </div>
        {% endif %}

        {% if display.allow_next %}
        <div>
          <button unicorn:click="next_guess">Next</button>
        </div>
        {% endif %}

        {% if display.allow_give_up %}
        <div>
          <button unicorn:click="give_up">Give-up</button>
        </div>
        {% endif %}

        {% if display.allow_skip %}
        <button unicorn:click="skip">Skip</button>
        {% endif %}

      </div>
    </div>
    <div class="col">
      <div>
        <img src="{{guess.image.url}}" alt="Image" width="500" height="500" />
        {% if display.display_answer %}
        <div class="answer">
          <span class='title'>{{guess.prompt}}</span> ({{guess.artist}})
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>